/*
Red: #ff0000;
Btn Blue: #6d6b9b;
Btn Outline: #a7a6ca;
Bottom Gradient: #2f28f7;
Top Gradient: #7d7d83;



*/


*, *:before, *:after {
    margin: 0;
    padding: 0;
}

.btn.btn-primary {
    color: #fff;
    letter-spacing: 0.01em;
    border: 3px solid #a7a6ca;
    background: #6d6b9b;
    font-size: 23px;
    border-radius: 20px;
    max-width: 240px;
    font-weight: 700;
    padding: 35px 0;
    transition: background .3s;
}

a.btn.btn-primary:hover {
    background: #4a4882;
}

.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:after {
    background-color: #6d6b9b !important;
    border-color: #a7a6ca !important;
    box-shadow: none !important;
}

body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    height: 100vh;
    background: rgb(125,125,131);
    background: linear-gradient(180deg, rgba(125,125,131,1) 0%, rgba(47,40,247,1) 100%);
}

.panel-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    background: #252525;
    box-sizing: content-box;
}

h1 {
    text-transform: uppercase;
    font-size: 70px;
    letter-spacing: 0.01em;
    color: #ff0000;
    font-weight: 700;
}